<section class="mainDiv signInMain firstMain">
  <div class="backgroundSignIn"></div>
  <div class="contenerSignIn">
    <div class="borderCT borderCadre borderCadreBlue"></div>
    <div class="borderCB borderCadre borderCadreBlue"></div>
    <div class="borderCL borderCadre borderCadreBlue"></div>
    <div class="borderCR borderCadre borderCadreBlue"></div>
    <div class="cercleTL cercleCadre cercleCadreBlue"></div>
    <div class="cercleTR cercleCadre cercleCadreBlue"></div>
    <div class="cercleBL cercleCadre cercleCadreBlue"></div>
    <div class="cercleBR cercleCadre cercleCadreBlue"></div>
    <div class="contenuCadre">
        <div class="contenerForm contenerFormSignIn">
          <p>Commande terminée</p>
          <hr>
          <div class="textFinal">Votre commande vous sera envoyée en 72h.</div>
          <div class="textFinal">Le scénario de vente pour ce projet web est terminé merci de vous déconnecter</div>
          <div id="decoFinal"><a href="javascript:" ng-click="logout()">déconnexion</a></div>
        </div>
    </div>
  </div>
</section>
